---
layout: default
pagination: 
  enabled: true
  permalink: /:num/
permalink: /articles
---
<!-- CONTENT
================================================== -->
<section class="pt-6 pt-md-8 pb-8 mb-md-8">
  <div class="container">
    {% for post in paginator.posts %}
      <div class="row pt-6 ">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <span href={{ post.url }} class="card text-reset text-decoration-none lift ">
            <div class="row no-gutters shadow-light-lg">
              <div class="col-12 col-md-6">

                <!-- Image (mobile) -->
                <img src="/assets/img/photos/photo-1.jpg" class="img-fluid rounded" alt="...">
                
                <!-- Image -->
                <div src="/assets/img/photos/photo-1.jpg" class="img-fluid  position-absolute w-100 h-30 bg-cover rounded-left d-none d-md-block" style="background-image: url(/assets/img/photos/photo-1.jpg);">

                </div>

              </div>
              <div class="col-12 col-md-6">

                <!-- Blockquote -->
                <blockquote class="blockquote pt-5 pb-3 pb-md-2 px-6 px-md-8 mb-0 bg-white rounded-right text-center">
                  <!-- Heading -->
                  <a href="{{ post.url }}" class="text-reset text-decoration-none">
                  <h2>
                    {{ post.title }}
                  </h2>
                  </a>
                  <!-- Text -->
                  <p class="mb-5 mb-md-6 pt-5 text-gray-700">
                    {{ post.subtitle }}
                  </p>
                  <!-- Footer -->
                  {% for category in post.categories %}
                  <a href="/{{ category }}/" class="badge badge-info-soft bottom-0">{{ category }}</a>
                  {% endfor %}
                  <footer class="blockquote-footer bottom-0">
                    <hr>
                    Author: <span class="h6 text-uppercase">{{ post.author }}</span>
                  </footer>

                </blockquote>
                
              </div>
            </div> <!-- / .row -->
          </span>
        </div>
        </div>
    {% endfor %}
  <!-- 
    Showing buttons to move to the next and to the previous list of posts (pager buttons).
  -->
{% if paginator.total_pages > 1 %}
  <nav class="pt-6">
    <ul class="pagination justify-content-end">
          <li class="page-item {% if paginator.previous_page==nil %}disabled{% endif %}"><a class="page-link" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">Previous</a></li>
        {% for page in (1..paginator.total_pages) %}
          <li class="page-item"><a class="page-link" href="{% if page==1 %}/blog/{% endif %}{% if page!=1 %}/blog/{{ page }}{% endif %}">{{ page }}</a></li>
        {% endfor %}
            <li class="page-item {% if paginator.next_page==nil %}disabled{% endif %}"><a class="page-link" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next</a></li>
    </ul>
  </nav>
{% endif %}
  </div> <!-- / .container -->
</section>

