---
layout: default
title: Home
description: 'Drive business growth with personalized AWS consulting through 0x4447 to implement cost-effective customer solutions built on scalable cloud infrastructure.'
published_time: 2020-08-07
author  : David Gatti
image   : 
  path  : "/assets/img/illustrations/illustration-4.png"
  height: 480
  width : 720
  alt   : og-image
tags    : [Cloud AWS]
---
    <section class="position-relative pt-12 pt-md-14 mt-n11">

      <!-- Logo -->
      <div class="shape shape-fluid-x shape-blur-2 svg-shim text-light">
        <svg viewBox="0 0 1313 768" fill="none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
        <path d="M442.794 768C605.882 768 748.362 679.773 825.111 548.444L825.294 549C825.294 549 825.543 548.251 826.056 546.819C839.139 524.212 850.279 500.339 859.248 475.43C901.996 397.81 989.306 277.09 1144.29 206L1143.37 205.307C1230.34 171.296 1295.63 94.049 1312.83 0H1.29419V295.514C0.631105 305.423 0.294189 315.422 0.294189 325.5C0.294189 569.886 198.408 768 442.794 768Z" fill="currentColor"/>
        </svg>
      </div>

      <!-- Content -->
      <div class="container">
        <div class="row align-items-center text-center text-md-left">
          <div class="col-12 col-md-6">
            <!-- Image -->
            <img src="/assets/img/index/aws-cloud-consulting.png" alt="AWS Cloud Consulting" class="img-fluid mw-130 float-right mb-6 mb-md-0">

          </div>
          <div class="col-12 col-md-6">
            
            <!-- Heading -->
            <h1 class="display-1 font-weight-bold">
              <div>AWS Cloud</div>
              <div>Consulting</div>
            </h1>

            <!-- Text -->
            <p class="font-size-lg text-muted mb-0">
              David, the founder and CEO of 0x4447, has the specialized knowledge of AWS that allows you to get up to speed on AWS best practices in a matter of weeks, rather than years. With 0x4447, you will receive personalized AWS consulting to drive organizational and project-based growth built on scalable cloud infrastructure.
            </p>

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->

    </section>

    <!-- HUB
    ================================================== -->
    <section class="py-8 py-md-11">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-4 text-center" data-aos="fade-up" data-aos-delay="100">
              
            <!-- Icon -->
            <div class="icon text-primary mb-3">
              <img src="/assets/img/index/ico_solid_foundation.png" alt="Solid Foundation">
            </div>

            <!-- Heading -->
            <h3>
              Solid Foundation
            </h3>

            <!-- Text -->
            <p class="text-muted mb-0">
              David can help you create a solid foundation that can support robust and scalable growth to ensure reliable performance and cost-efficiency.
            </p>

          </div>

          <div class="col-12 col-md-4 text-center" data-aos="fade-up">
            
            <!-- Icon -->
            <div class="icon text-primary mb-3">
              <img src="/assets/img/index/ico_experience.png" alt="Experience That Benefits You">
            </div>

            <!-- Heading -->
            <h3>
              Experience That Benefits You
            </h3>

            <!-- Text -->
            <p class="text-muted mb-6 mb-md-0">
              David will personally work with your team to let you utilize his experience of proven evaluation objectives to roadmap organizational and project success.
            </p>

          </div>
          <div class="col-12 col-md-4 text-center" data-aos="fade-up" data-aos-delay="50">

            <!-- Icon -->
            <div class="icon text-primary mb-3">
              <img src="/assets/img/index/ico_aws.png" alt="AWS Cloud Architecture">
            </div>

            <!-- Heading -->
            <h3>
              AWS Cloud Architecture
            </h3>

            <!-- Text -->
            <p class="text-muted mb-6 mb-md-0">
              David can architect an AWS stack that is cost effective, fully automated, and easily extended.
            </p>

          </div>

        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>

    <!-- ABOUT
    ================================================== -->
    <section class="py-8 py-md-11 bg-gray-200">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-10 col-lg-7 text-center">
            
            <!-- Heading -->
            <h2 class="font-weight-bold">
              Flexible and Nimble
            </h2>

            <!-- Text -->
            <p class="font-size-lg text-muted mb-7 mb-md-9">
              David’s expertise allows him to work with you in any environment, whether it’s one-on-one, with management, or with a team of developers.
            </p>

          </div>
        </div> <!-- / .row -->
        <div class="form-row">
          <div class="col-12 col-lg-6 d-lg-flex pb-1 mb-4">
            
            <!-- Card -->
            <div class="card shadow-light-lg overflow-hidden" data-aos="fade-up">
              <div class="row">
                <div class="col-md-4 position-relative">
                  
                  <!-- Image -->
                  <img src="assets/img/index/one-on-one.png" class="h-75 position-absolute right-0 mt-7 mr-n4" alt="One-on-One">

                </div>
                <div class="col-md-8">
                  
                  <!-- Body -->
                  <div class="card-body py-7 py-md-9 text-center">
                    
                    <!-- Heading -->
                    <h4 class="font-weight-bold">
                      One-on-One
                    </h4>

                    <!-- Text -->
                    <p class="text-muted mb-0">Whether you want to learn about AWS as quickly as possible or progress at your own pace, David can help you on a one-on-one basis.</p>
                    
                  </div>

                </div>
              </div> <!-- / .row -->
            </div>

          </div>
          <div class="col-12 col-lg-6 d-lg-flex pb-1 mb-4">
            
            <!-- Card -->
            <div class="card shadow-light-lg overflow-hidden text-center" data-aos="fade-up">
              <div class="row">
                <div class="col-md-8">
                  
                  <!-- Body -->
                  <div class="card-body py-7 py-md-9">
                    
                    <!-- Heading -->
                    <h4 class="font-weight-bold">
                      Management
                    </h4>

                    <!-- Text -->
                    <p class="text-muted mb-0">
                      David can train your management team on the functionality of the AWS Cloud in order to know how to better manage projects.
                    </p>
                    
                  </div>

                </div>
                <div class="col-md-4">
                  
                  <!-- Image -->
                  <img src="assets/img/index/management.png" class="h-75 position-absolute left-0 mt-7" alt="Management">

                </div>
              </div> <!-- / .row -->
            </div>

          </div>
        </div> <!-- / .row -->
        <div class="row">
          <div class="col-12">
            
            <!-- Card -->
            <div class="card shadow-light-lg overflow-hidden text-center text-lg-left" data-aos="fade-up">
              <div class="row">
                <div class="col-md-4 position-relative">
                  
                  <!-- Image -->
                  <img src="assets/img/index/your-entire-team.png" class="h-75 position-absolute right-0 mt-6" alt="Your Entire Team">

                </div>
                <div class="col-md-8">

                  <!-- Body -->
                  <div class="card-body py-7 py-md-9">
                  
                    <!-- Heading -->
                    <h4 class="font-weight-bold">
                      Your Entire Team
                    </h4>

                    <!-- Text -->
                    <p class="text-muted mb-0">
                      Do you have a team of developers or DevOps who would benefit from learning how to use AWS Cloud? David can teach your team the efficient implementation of cloud computing and how to work around potential pitfalls, challenges, and bugs. David’s expertise is designed to help you not repeat mistakes and to allow systematic improvement.
                    </p>

                  </div>

                </div>
              </div> <!-- / .row -->
            </div>

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>

  <!-- TESTIMONIALS
      ================================================== -->
  <section class="pt-8 pt-md-11">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8 text-center">
  
          <!-- Heading -->
          <h2 class="font-weight-bold">
            Our customers speak volumes about us
          </h2>
  
          <!-- Text -->
          <p class="text-muted mb-7 mb-md-9">
            We work with some of the most interesting and disruptive companies in the US.
          </p>
  
        </div>
      </div> <!-- / .row -->
      <div class="row">
        <div class="col-12">
  
          <!-- Flickity -->
          <div class="pt-2 pb-9 main-carousel" data-flickity='{
                "cellAlign": "left", 
                "autoPlay": true,
                "imagesLoaded": true, 
                "pageDots": false, 
                "prevNextButtons": false, 
                "contain": true}'>
  
            {% for company in site.data.companies %}
            <div class="col-12 col-md-5 col-lg-4 carousel-cell">
  
              <!-- Card -->
              <div class="card card-border shadow-light-lg lift lift-lg" style="border-top-color: {{company.color}};">
                <div class="card-body text-center">
  
                  <!-- Icon -->
                  <div class="img-fluid mb-5 w-50 svg-shim mx-auto" style="color: #FF5A5F;">
                    {% if company.logo_name contains ".svg" %}
                    <object data="/assets/img/clients/{{ company.logo_name }}" type="image/svg+xml"
                      height="21px"></object>
                    {% else %}
                    <img src="/assets/img/clients/{{ company.logo_name }}" height="21px"
                      alt="{{ company.company_name }} logo">
                    {% endif %}
                  </div>
                  <!-- Text -->
                  <p class="text-gray-700 mb-5">
                    {{ company.description }}
                  </p>
  
                  <!-- Link -->
                  {% if company.url %}
                  <a target="blank_" href={{ company.url.href }}
                    style="color: {{ company.color }}">{{ company.url.name }}</a>
                  {% else %}
                  <span>Work in progress</span>
                  {% endif %}
                </div>
              </div>
  
            </div>
            {% endfor %}
          </div>
  
        </div>
      </div> <!-- / .row -->
    </div> <!-- / .container -->
  </section>

    <!-- CTA
    ================================================== -->
    <section class="py-10 py-md-13 bg-gray-200 bg-between" style="background-image: url(assets/img/index/cloud.png), url(assets/img/index/robot.png);">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-10 col-lg-8 text-center">
            
            <!-- Heading -->
            <h2 class="font-weight-bold">
              Send David a message
            </h2>

            <!-- Text -->
            <p class="font-size-lg text-muted mb-8 px-lg-9">
              describing your needs to partner with a proven AWS expert.
            </p>

            <!-- Button -->
            <a href="/contact/" class="btn btn-primary-desat lift">
              Contact
            </a>

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>

      </div>
    </div>