
<div class="position-relative">
  <div class="shape shape-bottom shape-fluid-x svg-shim text-dark">
    <svg viewBox="0 0 1440 24" fill="none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
    <path d="M0 24H1440V0C722.5 52 0 0 0 0V24Z" fill="currentColor"/>
    </svg>

  </div>
</div>
<footer class="py-8 py-md-9 bottom bg-dark">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-4">
        
            <!-- Brand -->
            <img src="/assets/img/logo_dark.svg" alt="0x4447, LLC." style="width: 200px;">

            <!-- Text -->
            <p class="text-gray-700 mb-2">
              AWS Cloud Consulting
            </p>

          </div>
          
          <div class="col-12 col-md-4">
            <!-- Heading -->
            <h6 class="font-weight-bold text-uppercase text-gray-700">
              Sitemap
            </h6>

            <!-- List -->
            <ul class="list-unstyled text-muted mb-0">
              <li class="mb-3">
                <a href="/" class="text-reset">
                  Home
                </a>
              </li>
              <li class="mb-3">
                <a href="/contact.html" class="text-reset">
                  Contact
                </a>
              </li>
              <li class="mb-3">
                <a href="/articles/" class="text-reset">
                  Articles
                </a>
              </li>
            </ul>

          </div>

          <div class="col-12 col-md-4">
            <!-- Heading -->
            <h6 class="font-weight-bold text-uppercase text-gray-700">
              Legal
            </h6>

            <!-- List -->
            <ul class="list-unstyled text-muted mb-0">
              <li class="mb-3">
                <a href="https://privacypolicy.0x4447.com/properties/consulting-0x4447.html" class="text-reset">
                  Privacy Policy
                </a>
              </li>
              <li class="mb-3">
                <a href="https://termsofservice.0x4447.com/properties/consulting-0x4447.html" class="text-reset">
                  Terms of Service
                </a>
              </li>
            </ul>

          </div>

        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </footer>

    <!-- JAVASCRIPT
    ================================================== -->
    <!-- Libs JS -->
    <script src="/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/libs/flickity/dist/flickity.pkgd.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="/assets/js/bootstrap-select.min.js"></script>

    <!-- (Optional) Latest compiled and minified JavaScript translation files -->
    <script src="/assets/js/i18n/defaults-*.min.js"></script> 
    <script src="/assets/libs/flickity-fade/flickity-fade.js"></script>
    <script src="/assets/libs/aos/dist/aos.js"></script>
    <script src="/assets/libs/smooth-scroll/dist/smooth-scroll.min.js"></script>
    <script src="/assets/libs/jarallax/dist/jarallax.min.js"></script>
    <script src="/assets/libs/jarallax/dist/jarallax-video.min.js"></script>
    <script src="/assets/libs/jarallax/dist/jarallax-element.min.js"></script>
    <script src="/assets/libs/typed.js/lib/typed.min.js"></script>
    <script src="/assets/libs/countup.js/dist/countUp.min.js"></script>
    <script src="/assets/libs/highlightjs/highlight.pack.min.js"></script>
    <script src="/assets/libs/@fancyapps/fancybox/dist/jquery.fancybox.min.js"></script>

    <!-- Theme JS -->
    <script src="/assets/js/theme.min.js"></script>