 <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-169327122-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-169327122-1');
    </script>

        <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Adding meta-tags that are not added by seo plugin -->
    <meta property="og:image:width" content="720" />
    <meta property="og:image:height" content="480" />
    <meta property="og:article:author" content="David Gatti" />
    <meta property="og:article:section" content="Cloud Computing" />
    <meta property="og:article:tag" content="Cloud AWS" />
    <meta property="article:published_time" content="2020-08-07" />
    <meta property="article:modified_time" content="2020-08-07" />
    
    <meta http-equiv = "content-language" content = "en">
    
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicons/favicon-16x16.png">
    <link rel="manifest" href="/assets/favicons/site.webmanifest">
    <link rel="mask-icon" href="/assets/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="theme-color" content="#ffffff">
    
        <!-- Bootstrap Select -->
    <link rel="stylesheet" href="/assets/css/bootstrap-select.min.css">

        <!-- Libs CSS -->
    <link rel="stylesheet" href="/assets/fonts/Feather/feather.css">
    <link rel="stylesheet" href="/assets/libs/flickity/dist/flickity.min.css">
    <link rel="stylesheet" href="/assets/libs/flickity-fade/flickity-fade.css">
    <link rel="stylesheet" href="/assets/libs/aos/dist/aos.css">
    <link rel="stylesheet" href="/assets/libs/jarallax/dist/jarallax.css">
    <link rel="stylesheet" href="/assets/libs/highlightjs/styles/vs2015.css">
    <link rel="stylesheet" href="/assets/libs/@fancyapps/fancybox/dist/jquery.fancybox.min.css">
    
        <!-- Theme CSS -->
    <link rel="stylesheet" href="/assets/css/theme.min.css">
        
        <!-- Custom CSS -->
    <link rel="stylesheet" href="/assets/css/custom.css">

        <!-- Helper functions -->
    <script src="/assets/js/helpers.js"></script>

        <!-- J Query -->
    <script src="/assets/libs/jquery/dist/jquery.min.js"></script>

    {% seo %}

</head>