<!-- HUB
    ================================================== -->
{%- assign hub = site.data.home.hub -%}
<section class="py-8 py-md-11">
  <div class="container">
    <div class="row">
      {%- for item in hub -%}
      <div class="col-12 col-md-4 text-center" data-aos="fade-up" data-aos-delay="100">
        <!-- Icon -->
        <div class="icon text-primary mb-3">
          <img src="{{item.icon}}">
        </div>

        <!-- Heading -->
        <h3>
          {{item.title}}
        </h3>

        <!-- Text -->
        <p class="text-muted mb-0">
          {{item.text}}
        </p>

      </div>

      {%- endfor -%}

    </div> <!-- / .row -->
  </div> <!-- / .container -->
</section>