<div class="row">
    <div class="col-12">
      
      <!-- Card -->
      <div class="card card-row shadow-light-lg mb-6 lift lift-lg">
        <div class="row no-gutters">
          <a class="col-12 col-md-6 order-md-2 shame__bg-contain card-img-right" style="background-image: url({{ post.featured }});" href="{{ post.url }}">

            <!-- Image (placeholder) -->
            <img src="{{ post.featured }}" alt="..." class="img-fluid d-md-none invisible">

          </a>
          <div class="col-12 col-md-6 order-md-1">

            <!-- Body -->
            <a class="card-body" href="{{ post.url }}">

              <!-- Heading -->
              <h3>
                {{ post.title }}
              </h3>

              <!-- Text -->
              <p class="mb-0 text-muted">
                {{ post.description }}
              </p>

            </a>

            <!-- Meta -->
            <a class="card-meta" href="{{ post.url }}">

              <!-- Divider -->
              <hr class="card-meta-divider">
              
              <!-- Author -->
              <h6 class="text-uppercase text-muted mr-2 mb-0">
                {{ post.author }}
              </h6>
              
              <!-- Date -->
              <p class="h6 text-uppercase text-muted mb-0 ml-auto">
                {%- include timestamp.html entity=post -%}
              </p>

            </a>

          </div>

        </div> <!-- / .row -->
      </div>

    </div>
  </div> <!-- / .row -->
