img[src*="#responsive"] {
  width: 100%;
}
.bootstrap-select .dropdown-menu {
  z-index: 1000;
  max-height: 400px;
}
.bootstrap-select .dropdown-menu li a span.text {
  margin-bottom: 5px;
  overflow-wrap: break-word;
  width: 200px;
  display: inline-block;
  white-space: normal;
}
.divider {
    height: 105px;
}
@media (min-width: 768px) {
  .contact_form textarea {
    height: 55px;
  }
}
