img[src*="#responsive"] {
  width: 100%;
}
.bootstrap-select .dropdown-menu {
  z-index: 1000;
  max-height: 400px;
}
.bootstrap-select .dropdown-menu li a span.text {
  margin-bottom: 5px;
  overflow-wrap: break-word;
  width: 200px;
  display: inline-block;
  white-space: normal;
}
.textarea_row {
  margin-top: -35px;
}
.textarea_row textarea {
  height: 300px;
}
/* Footer */
body {
  min-height: 100vh;
}
.footer_shape {
  margin-top: auto;
}
/* Article card image size */
.card_image_box,
.card_text_box {
  display: flex;
  align-items: center;
  justify-items: center;
}
@media (min-width: 768px) {
  .card_image_box {
    min-height: 293px;
    overflow: hidden;
  }
}
@media (min-width: 992px) {
  .card_image_box {
    min-height: 396px;
  }
}
@media (min-width: 1024px) {
  .card_image_box {
    min-height: 430px;
  }
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

/* shame */

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

/*
  There is no .bg-contain in theme.min.css so lets roll our own.
*/

.shame__bg-contain {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
