---
permalink: /articles/:categories/:title:output_ext
seo: 
  -type: article
--- 
<!DOCTYPE html>
<html>
{% include head.html %}

<body>

{% include nav.html %}
<!-- CONTENT
================================================== -->
<section class="pt-8 pb-12 pt-md-11">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-md">
        <!-- Link -->
        <i class="fe fe-arrow-left mr-3"></i>
        {% for cat in page.categories %}  
          <a href="/articles/{{cat}}" class="font-weight-bold font-size-sm text-decoration-none mb-3">{{cat}} </a>
        {% endfor %}
        <!-- Heading -->
        <h1 class="display-4 mb-2">
          {{ page.title }}
        </h1>
      </div>
    </div> <!-- / .row -->
    <div class="row">
      <div class="col-12">
        <!-- Divider -->
        <hr class="my-6 my-md-8 border-gray-300">
      </div>
    </div> <!-- / .row -->
    <div class="row">
      <div class="col-12 col-md-12">
      <img src={{ page.header }} width='100%' class="mb-5" alt="{{ page.title }}"/>
          {{ page.content }}
        <h2>Contact</h2>
          <p>You can get in touch with David through the <a href='/contact/'>contact</a> page or schedule a meeting with him right away on the <a href='/schedule/'>schedule</a> page.</p>
        <h2>Sharing is Caring</h2>
          <p>If you found this article useful, consider sharing it with someone you think could benefit from it.</p>
      </div>
      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</section>
{% include footer.html %}
</body>
</html>